@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primaryColor: #fff;
    --secondaryColor: #000;
    --tertiaryColor: #0fec2a;
    --bgFnH: #24262b;
}

html,
body,
input,
textarea {
    font-family: 'Courier Prime', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    color: var(--secondaryColor);
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}


.logo {
    font-size: 2rem;
    color: var(--primaryColor);
    font-weight: 100;
}

.icon {
    color: var(--tertiaryColor);
}

.ico {
    display: inline-block;
    margin: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.red {
    background: #fb6156;
}

.yellow {
    background: #fdbc2d;
}

.green {
    background: #29cb43;
}

.colouredText {
    color: var(--tertiaryColor);
    font-weight: bold;
}

.sectionTitle {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--secondaryColor);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.btn-hero {
    display: inline-block;
    padding: 10px;
    color: var(--primaryColor);
    background-color: transparent;
    border: 2px solid var(--tertiaryColor);
    border-radius: 25px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.btn-hero:hover {
    color: var(--tertiaryColor);
    background-color: var(--secondaryColor);
}

.card {
    background: none;
    -webkit-box-shadow: 4px 4px 9px 4px rgba(189, 189, 189, 1);
    -moz-box-shadow: 4px 4px 9px 4px rgba(189, 189, 189, 1);
    box-shadow: 4px 4px 9px 4px rgba(189, 189, 189, 1);
    border-radius: 15px;
}

.cardTitle {
    display: flex;
    border: 2px solid;
    border-bottom: 0;
    height: 30px;
    border-radius: 15px 15px 0 0;
}

.cardImg {
    height: 350px;
    width: 350px;
    border: 2px solid;
    border-radius: 0 0 15px 15px;
    background-image: url(img/dexter.jpg);
    background-size: cover;
    background-position: right center;
}

.cardBody {
    border: 2px solid;
    border-radius: 0 0 15px 15px;
}

.change::after {
    animation: 0.5s ease-out 0s;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--secondaryColor);
    opacity: 0.7;
    z-index: 1;
}

.change::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(img/catloop.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    z-index: 2;
    transition: all 0.5s ease;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Fixed Header*/
#header {
	position: fixed;
	z-index: 1200;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: var(--bgFnH);
	transition: 0.3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: var(--primaryColor);
	text-transform: capitalize;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: var(--tertiaryColor);
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid var(--primaryColor);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid var(--primaryColor);
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: var(--primaryColor);
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: var(--primaryColor);
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}
/*End Fixed Header*/

/*Hero section*/
#hero {
    background-image: url(img/headerBack.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--secondaryColor);
    opacity: .7;
    z-index: -1;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: var(--primaryColor);
}

#hero h2 {
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: var(--primaryColor);
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    flex-direction: column-reverse;

}

.imgResponsive {
    margin: 20px;
    height: 300px;
    width: 300px;
    background: url(img/faiberPortrait1.jpeg);
    background-size: cover;
    background-position: right center;
    border-radius: 50%;

}

/*End hero section*/

/*About Section*/
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: auto;
    height: auto;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    text-align: justify;
    margin-bottom: 20px;
}

/*End about section*/

/*Portafolio Section*/
#portafolio .portafolio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.tabs {
    width: 100%;
    display: flex;
}

.tabs li {
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid;
    margin-bottom: -2px;
    border-bottom: 3px solid var(--primaryColor);
    padding: 5px;
    border-radius: 15px 15px 0 0;
    z-index: 2;
}

.tabs li:first-child {
    margin-left: 10px;
}

.tabs li a {
    font-size: 1.2rem;
    color: var(--secondaryColor);
    font-weight: bold;
    transition: all 0.5s ease;
}

#portafolioContent {
    text-align: justify;
    padding: 20px;
    border-top: 2px solid;
    position: relative;
    z-index: 1;
}

#portafolioContent h1 {
    font-size: 2rem;
}

#portafolio .btn-hero {
    display: inline-block;
    padding: 10px;
    color: var(--secondaryColor);
    background-color: transparent;
    border: 2px solid var(--tertiaryColor);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
    z-index: -1;
}

#portafolio .btn-hero:hover {
    color: var(--tertiaryColor);
    background-color: var(--secondaryColor);
}

/*End portafolio section*/

/*Skills Section*/
#skills .skills {
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#skills .col-right {
    width: auto;
    height: auto;
}

#skills .col-left {
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
}

#skills .col-left h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#skills .col-left p {
    margin-bottom: 20px;
}

#skills .cardBody {
    background-color: var(--bgFnH);
}

#skills .btn-hero {
    display: inline-block;
    padding: 10px;
    color: var(--secondaryColor);
    background-color: transparent;
    border: 2px solid var(--tertiaryColor);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
    z-index: -1;
}

#skills .btn-hero:hover {
    color: var(--tertiaryColor);
    background-color: var(--secondaryColor);
}

/*End skills section*/

/*Contact Section*/
#contact .contact {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contactForm {
    position: relative;
}

#contact .cardBody {
    padding: 20px;
}

#contact form {
    padding: 2.3rem 2.2rem;
}

.title {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    text-transform: uppercase;
}

.inputContainer {
    position: relative;
    margin: 1rem 0;
}

#contact .inputContainer label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: var(--secondaryColor);
    font-size: 1.2rem;
    font-weight: 900;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

#contact .input {
    width: 100%;
    outline: none;
    border: 2px solid var(--secondaryColor);
    background: none;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: .3s
}

#contact textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

#contact .btn-hero {
    padding: 0.6rem 1.3rem;
    font-size: 1.2rem;
    color: var(--secondaryColor);
    line-height: 1;
    outline: none;
    cursor: pointer;
}

#contact .btn-hero:hover {
    color: var(--tertiaryColor);
    background-color: var(--secondaryColor);
}

#contact .inputContainer.textArea label {
    top: 1rem;
    transform: translateY(0);
}

#contact .inputContainer span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

#contact .inputContainer span::before,
#contact .inputContainer span::after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: var(--primaryColor);
    top: 50%;
    transform: translateY(-50%);
}

#contact .inputContainer span::before {
    left: 50%;
}

#contact .inputContainer span::after {
    right: 50%;
}

#contact .inputContainer.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1rem;
}

#contact .inputContainer.focus span::before,
#contact .inputContainer.focus span::after {
    width: 50%;
    opacity: 1;
}

#contact .contactInfo {
    height: 100%;
    padding: 2.3rem 2.2rem;
    background: url(img/contactbg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#contact .contactInfo h1 {
    font-size: 4rem;
}

.pop-up {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up-wrap .cardBody {
    padding: 20px;
}

.pop-up-wrap .card{
    background-color: var(--primaryColor);
}

.pop-up-wrap {
    margin: 20px;
    max-width: 800px;
    min-width: 200px;
    max-height: 400px;
    min-height: 200px;
    word-wrap: break-word;
    transform: scale(0.6);
    opacity: 0;
    transition: .3s ease all;
}

.pop-up-wrap .btn-hero {
    padding: 0.6rem 1.3rem;
    font-size: 1.2rem;
    color: var(--secondaryColor);
    line-height: 1;
    outline: none;
    cursor: pointer;
}

.pop-up-wrap .btn-hero:hover {
    color: var(--tertiaryColor);
    background-color: var(--secondaryColor);
}

.pop-up.show {
    visibility: visible;
}

.pop-up-wrap.show{
    transform: scale(1);
    opacity: 1;
}

.popContent{
    max-width: 800px;
    min-width: 200px;
    max-height: 400px;
    min-height: 200px;
    overflow: auto;
}

/*End Contact Section*/

/* Footer Section*/

.row {
	display: flex;
	flex-wrap: wrap;
}

footer ul {
	list-style: none;
}

footer .container{
    min-height: fit-content
}

.footer {
	background-color: var(--bgFnH);
	padding: 70px 0;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: var(--primaryColor);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: var(--tertiaryColor);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--tertiaryColor);
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: var(--bgFnH);
	background-color: var(--tertiaryColor);
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
/*End footer Section


/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    .btn-hero {
        font-size: 1.2rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 3rem;
    }

    #hero h2 {
        font-size: 1.5rem;
    }

    /* End Hero */

    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }

    /* End About */

    /*Skills section*/
    #skills .skills {
        flex-direction: row;
    }

    #skills .col-left {
        padding: 30px;
    }

    #skills .col-left h1 {
        text-align: left;
    }

    /*End Skills section*/

}

@media screen and (max-width: 850px) {
    #contact .contact {
        grid-template-columns: 1fr;
    }
}

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

    /*Hero section */
    #hero .hero {
        flex-direction: row;
    }
    /*End hero section */

    /* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.1rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
}

/* End  Media Query For Desktop */

/* Media Query For mobile */
@media screen and (max-width: 450px) {

    #contact .contactInfo h1 {
        font-size: 3rem;
    }

    .tabs li a span {
        display: none;
    }

    #hero h2 {
        font-size: 1rem;
    }

    #hero .btn-hero {
        font-size: 1.2rem;
    }
    
    .logo {
        font-size: 1.5rem;
    }

}

/* End  Media Query For mobile */